.bg-sec{
    background-color: rgb(232, 233, 241);
}
.faking-img{
    width: 100%;
    height: 130px;
    background-color: rgba(24, 23, 23, 0.663);
}
section{
    margin-top: 12px;
    padding: 22px;
}
.bg-pro{
    background-color: rgb(198, 191, 191);
}
.img-height{
    height: 100px;
}

.animate:hover {
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transform: rotate(0.3rad);
    -webkit-transform: rotate(0.3rad);
    -moz-transform: rotate(0.3rad);
    -ms-transform: rotate(0.3rad);
    -o-transform: rotate(0.3rad);
}
  

  

#otherSkills{
    display: none;
    justify-content: center;
}
#showProjects{
    display: none;
    max-width: 1000px;
}

/* making two lines as maxumain */
.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .expand-button , .projectsExpandBtn{
    display: block;
    appearance: none;
    color: rgba(0, 36, 142, 0.594);
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  .expand-button::before{
    content: "Read More";
  }
  .expand-button:checked::before{
    content: "Read Less";

  }

  .projectsExpandBtn::before{
    content: "See More...";
  }

  .projectsExpandBtn:checked:before{
    content: "See Less...";
  }